altair==5.5.0
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comtypes==1.4.10
Flask==3.1.0
flexcache==0.3
flexparser==0.4
forex-python==1.8
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
narwhals==1.31.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
Pint==0.24.4
platformdirs==4.3.7
plotly==6.0.1
protobuf==5.29.3
pyarrow==19.0.1
pydeck==0.9.1
pygame==2.6.1
pyjokes==0.8.3
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.98
pytz==2025.1
pywin32==308
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
streamlit==1.43.2
tenacity==9.0.0
tk==0.1.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
Werkzeug==3.1.3
